.editor-container {
    width: 100%;
    height: -webkit-fill-available;
    touch-action: none; /* Prevent touch gestures like scrolling */
}

.canvas-container {
    /* add padding room for toolbar */
    padding-left: var(--left-toolbar-size);
    z-index: 0;
}   