:root {
    --top-toolbar-size: 4em;
}

.top-toolbar {
    /* padding-left: var(--left-toolbar-size); */
    background-color: rgba(100,100,100,0.6);
    width:100%;
    height: var(--top-toolbar-size);
    display: flex;
}

/* clear base button styles first of all */
.top-toolbar button {
    background-color: transparent;
    border-style: none;
    display: block;
}

.top-toolbar button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  .top-toolbar button:hover {
    border-color: #646cff;
  }
  .top-toolbar button:focus,
  .top-toolbar button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }