:root {
    --editor-canvas-padding: 8px;
    --editor-canvas-scale: calc(100dvh - var(--top-toolbar-size) - var(--editor-canvas-padding));
}
/* ensure that the editor canvas scales properly on portrait orientation */
/* currently limited by the lack of calculation ability in media queries */
/* when the browser is reaching square resolution a scrollbar appears for a bit */
/* @media all and (orientation:portrait)  { */
/* this magic ratio was calculated with the current left toolbar size of 8em */
@media all and (max-aspect-ratio: 505/476) {
    :root {
        --editor-canvas-scale: calc(100vw - var(--left-toolbar-size) - var(--editor-canvas-padding));
    }
}

.editor-canvas {
    border: 1px solid black;
    cursor: pointer;
    /* fill page with size of height first */
    width: var(--editor-canvas-scale);
    height: var(--editor-canvas-scale);
    /* disable aliasing on the canvas for pixel art style */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
