@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.alert-box {
  background: rgb(230, 225, 225);
  padding: 20px;
  border-radius: 20px;
  width: 70%;
  max-width: 300px;
  text-align: center; /* Center text inside the alert box */
}

.alert-box p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.title {
  font-size: 1.2rem;
  margin: 2px;
  padding: 6px;
}

.message1,
.message2 {
  font-size: 1rem;
  margin: 2px;
  padding: 6px;
}

.popup-button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.popup-button {
  font-family: inherit;
  font-size: 14pt;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
}

/* dark mode compatibility */
@media (prefers-color-scheme: dark) {
  .alert-overlay {
    background: rgba(255, 255, 255, 0.25);
  }
  .alert-box {
    background: #282b30;
  }
}
