@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* theme variables */
  --overlay-bg-light: rgba(0, 0, 0, 0.5);
  --overlay-bg-dark: rgba(255, 255, 255, 0.25);
  --popup-bg: rgb(220, 220, 220);
  --button-bg: #95544f;
  --text-color: #333;
  --border-color: #ccc;
  --border-radius: 5px;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --bg-color: #ffffff;
  --primary-color: #95544f;
  --link-color: #333333;
  --link-hover-color: White;

  font-family: "Pixelify Sans", sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #F5F5DC;
  text-decoration: inherit;
}
a:hover {
  color: #F5F5DC;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* overflow-x: hidden; Prevent horizontal overflow */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color:#F5F5DC;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --popup-bg: #3c3c3c;
    --text-color: #fff;
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #95544f;
    --link-color: #ffffff;
    --link-hover-color: #c5622d;
  }
  .popup-overlay {
    background: var(--overlay-bg-dark);
  }
}
