:root {
  /* theme variables */
  --overlay-bg-light: rgba(0, 0, 0, 0.5);
  --overlay-bg-dark: rgba(255, 255, 255, 0.25);
  --popup-bg: rgb(220, 220, 220);
  --button-bg: #95544f;
  --text-color: #333;
  --border-color: #ccc;
  --border-radius: 5px;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --bg-color: #ffffff;
  --primary-color: #95544f;
  --link-color: #333333;
  --link-hover-color:White;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex; this adds padding at the top of the editor window*/
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.hidden {
  display:none;
}

/* we should not dirty styling of all usages of button across the board
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --popup-bg: #3c3c3c;
    --text-color: #fff;
  }
  .popup-overlay {
    background: var(--overlay-bg-dark);
  }
}
