@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* theme variables */
  --overlay-bg-light: rgba(0, 0, 0, 0.5);
  --overlay-bg-dark: rgba(255, 255, 255, 0.25);
  --popup-bg: rgb(220, 220, 220);
  --button-bg: #95544f;
  --text-color: #222222;
  --border-color: #ccc;
  --border-radius: 5px;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --bg-color: #ffffff;
  --header-bg-color: #fa947ae3;
  --primary-color: #c54b26;
  --primary-color-dark: #d68870;
  --link-color: #212233;
  --link-hover-color: #c5622d;

  font-family: "Pixelify Sans", sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  /* min-height: 100; */
  /* overflow-x: hidden; Prevent horizontal overflow */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.hidden {
  display: none;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --popup-bg: #3c3c3c;
    --text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color-dark: #49201b;
    --primary-color: #cf2b25;
    --header-bg-color: #95544f;
    --link-color: #ffffff;
    --link-hover-color: #c5622d;
  }

  .popup-overlay {
    background: var(--overlay-bg-dark);
  }
}
/* default the text input font size to at least 16px to prevent safari zoom in */
input[type="text"] {
  font-size: 16px;
}