/* Styles for the gallery layout */
.gallery_container {
    /* min-height: 100vh; */
    /* width: 100%;s */
    /* box-sizing: border-box; */
    /* overflow-x: hidden; Prevent horizontal overflow */
    padding: 0.5em;
    margin: auto;
    margin-top: var(--navbar-height);
}

.gallery_header {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1em;
}

.gallery {
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto auto auto;
    /* padding: 0 12px; */
    width: calc(100% - 24px);
    /* max-width: 100%; */
    /* box-sizing: border-box; */
    margin: 0 auto;
}

.gallery .images {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
}

.gallery .images:hover {
    filter: opacity(0.7);
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: pixelated; /* Pixelated images. Note to collaborators: please stop deleting my changes */
}

/* Responsive adjustments */
@media (max-width: 1280px) {
    .gallery {
        grid-template-columns: auto auto auto;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: auto;
    }
}
