.gallery_section {
  margin-bottom: 1em;
}

.gallery_section h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: #555;
}

.gallery_grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
